@import "extra/header.less";

.grid {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
}

.grid.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.make-grid-cell-common(@grid-columns);

.make-grid-cell-no-media(xs, @grid-columns);

.make-grid-cell(sm, @grid-columns, @screen-sm-min);

.make-grid-cell(md, @grid-columns, @screen-md-min);

.make-grid-cell(lg, @grid-columns, @screen-lg-min);







