@import "extra/header.less";

.grid {
  &:extend(.clearfix all);
  padding-right: @grid-padding;
  padding-left: @grid-padding;
  margin-right: auto;
  margin-left: auto;
}

.row {
  width: 100%;
}

.loop-grid-column(@grid-columns, xs, @grid-columns);

@media (min-width: @screen-sm-min) {
  .loop-grid-column(@grid-columns, sm, @grid-columns);
}

@media (min-width: @screen-md-min) {
  .loop-grid-column(@grid-columns, md, @grid-columns);
}

@media (min-width: @screen-lg-min) {
  .loop-grid-column(@grid-columns, lg, @grid-columns);
}






